@media screen and (max-width:574px) {
    

    html{

        overflow-x: hidden;

    }

    .nav_box{

        display: block;
        
    }

    .nav_box{

        list-style: none;

        display: block;

    }
    
 
    .nav_bar{

        padding-top: 2px;
       margin-right: -16px;
       
       z-index: 1;
       
       list-style: none;
       display: flex;
       justify-content: space-between;
       
       }
       

       .position_logo{
        
        position: relative;
        left: 24%;

       }

       .div_nav {
        width: 85%;
        position: relative;
        top:20px;
    }


    .bloc-md {
        padding-left: 0;
        padding-right: 0;
        width: 76%;
    }    


    .flex_box{

        display: block;
        
    }

    .img_title{
        

        width: 58vh;
        height: 27vh;
        position: relative;
        left: -8%;

    }

    .img_title2{

        width: 52vh;

    }


    .text_citation {
        width: 85%;
        position: relative;
        left: 4%;
      }
      


    .box_footer{
        position: relative;

        left: 23%;

        margin-bottom: 3%;
    }

}