@media screen and (min-width:575px)  and (max-width:900px){

    html{

        overflow-x: hidden;

    }

    .div_nav{
        width: 25%;
      }

    .navbar .nav {
        padding-top: 2px;
        margin-right: -16px;
        float: right;
        z-index: 1;
        justify-content: space-between;
        width: 24%;
    }


.nav_box {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.text_citation {
    width: 100%;
    position: relative;
    left: 28%;
  }

.social {
    display: block;
    margin: auto auto auto auto;
    width: 124%;
 
}

.box_footer{

    position: relative;
    left: 25%;


}


.flex_box {
    display: flex;
  }


    }
    
