@media screen and (min-width:700px)  and (max-width:900px){

    .navbar .nav {
        padding-top: 2px;
        margin-right: -16px;
        float: right;
        z-index: 1;
        justify-content: space-between;
        width: 24%;
    }


.nav_box {
    display: flex;
    justify-content: space-between;
    width: 75%;
}


.social {
    display: block;
    margin: auto auto auto auto;
    width: 124%;
 
}

.box_footer{

    position: relative;
    left: 25%;


}

    }
    
